@include block('create') {
    color: $--color-pearly-white-600;

    @include element('title') {
        font-size: 48px;
        font-weight: 900;
    }

    @include element('label') {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 4px;
    }

    @include element('instruct-label') {
        font-size: 18px;
        font-weight: 900;
        margin-bottom: 4px;
        color: $--color-pearly-white-500;
        margin-top: 8px;
    }

    @include element('container') {
        width: 100%;
        max-width: 500px;
        margin-bottom: 100px;
    }

    @include element('group') {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
    }

    @include element('text-aria') {
        display: flex;
        background-color: $--color-pearly-white-100;
        border-radius: $--border-radius-1;
        padding: 8px 16px;
        border: 1px solid $--color-pearly-white-300;
        box-shadow: $--box-shadow-1;
        width: 100%;
        font-size: 18px;

        &:focus {
            outline: none;
        }
    }

    @include element('time-picker') {
        display: flex;
        background-color: $--color-pearly-white-100;
        border-radius: $--border-radius-1;
        padding: 8px 16px;
        border: 1px solid $--color-pearly-white-300;
        box-shadow: $--box-shadow-1;
        width: 100%;
    }
}